*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(21, 21, 26);
    position: relative;
    font-family: sans-serif;
    font-weight: lighter;
}
main{
    width: 400px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 25% 75%;
}
.white{
    background-color: white;
    display: flex;
    align-items: center;
    
}
.black{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   grid-template-areas: 
   "close close slash xterix"
   "seven eight nine minus"
   "four five six plus"
   "three two one plus"
   "zero twozeros equal stop";

}
h2{
    background-color: rgb(36, 44, 44);
    color: white;
  
    border: 0.5px solid rgb(29, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;

}
.grid-1{
    background-color: red;
    grid-area: close;
}
.grid-2{
    grid-area: slash;
}
.grid-3{
    grid-area: xterix;
}
.grid-4{
    grid-area: seven;
}
.grid-5{
    grid-area: eight;
}
.grid-6{
    grid-area: nine;
}
.grid-17{
    grid-area: minus;
}
.grid-7{
    grid-area: four;
}
.grid-8{
    grid-area: five;
}
.grid-9{
    grid-area: six;
}
.grid-10{
    grid-area: three;
}
.grid-11{
    grid-area: two;
}
.grid-12{
    grid-area: one ;
}
.grid-13{
    grid-area: plus;
}
.grid-14{
    grid-area: zero;
}
.grid-15{
    grid-area: twozeros;
}
.grid-16{
    grid-area: equal;
}
.grid-18{
    grid-area: stop;
}
.white h1{
    color: black;
    padding-left: 10px;
   

}
.grid-16{
    background-color: orange;
}

